@import url(http://fonts.googleapis.com/css?family=Signika:300,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/*FONT & TEXT*/

* {
  background-color: #CCC;
}

body {
  font-family: 'Signika', sans-serif;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

h1,h2,p{
  font-weight:300;
  font-size: 2.7rem;
}

h2 {
  line-height: 1.5;
}

h5{
  margin-bottom:0em;
  margin-top:0em;
}

.slick-slide {
  height: 100vh;
}

.slick-slide .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -transform: translateY(-50%);
}



@media (min-width: 1120px) {

  .slick-slide .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -transform: translateY(-50%);
  }

  ul.slick-dots {
    position: absolute;
    bottom: 10px;
  }
}

p{margin-bottom:1em;}

.caveat {
  font-size: 0.75em;
}

i {
  color: steelblue;
}

i:hover {
  color: black;
}

/*DIVS & POSITIONING*/
.project-images {
  height: auto;
  width:100%;
  display:block;
  margin:auto;
  border-radius: 0.5em;
}

.project-icon {
  height: 10em;
  width:auto;
  display:block;
  margin:auto;
}

.project-title {
  text-align: center;
}

.project {
  text-align: left;
}

.drawing {
  max-height: 30vh;
  width: auto;
  text-align: left;
}

#skills {
  max-height: 30vh;
}

.contact-icons {
  background-color: steeblue;
}

.align-right {
  text-align: right;
}

a {
  color: steelblue;
}

button.slick-prev {
  left: 5%;
}

button.slick-next {
  right: 5%;
}

.slick-prev:before {
  color: steelblue;
}

.slick-next:before {
  color: steelblue;
}



.container {
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
  /*border: 4px solid black;*/
  padding-left: 6px;
  padding-right: 6px; }

.container:before, .container:after {
  content: " ";
  display: table; }
.container:after {
  clear: both; }


/*@media (min-width: 768px) {
  .container {
    width: 700px; } }
@media (min-width: 992px) {
  .container {
    width: 900px; } }
@media (min-width: 1200px) {
  .container {
    width: 1152px; } }*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .container {
    width: 260px;
  }  
  .slick-slide img{
    display: block;
    /*width: 20em;*/
    /*float: right;*/
  }  

  #droplet {
    height: 4em;
  }

  #globe {
    height: 4em;
  }

  div.eight.columns {
    font-size: 0.8em;
  }

  .caveat {
    display: none;
  }

  img.project-images {
    display: none;
  }

  img.project-icon {
    width: auto;
    height: 7em;
    float: none;
  }

  p {
    text-align: justify;
    font-size: 90%;
  }

  img.qrcode, .qrcode {
    display: none;
  }
  
  hr {
    margin: 0px;
  }

  h3 {
    margin: 0px;
  }

  h5 {
    font-size: 1.4rem;
  }

  ul.slick-dots {
    position: absolute;
    bottom: 2.5vh;
  }

  .fa-5x {
    font-size: 3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .container {
    width: 550px;
  }
  .slick-slide img{
    display: block;
  }  

  #stack {
    height: 12em;
  }

  #solder {
    height:12em;
  }

  .caveat {
    display:initial;
  }

  h1,h2{
    font-weight:300;
    font-size: 3.6rem;
  }

  p {
    font-size: 100%;
  }

  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
  }

  #skills {
    height: 16vh;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .container {
    width: 1152px;
  }

  #stack {
    height: initial;
  }

  #solder {
    height:initial;
  }

  #skills {
    height: initial;
  }

  div.eight.columns {
    font-size: 100%;
  }
}

.slide {
  overflow: hidden;
}

.slide img {
  max-width: 100%;
}


@media (max-width: 1120px) {
  /*.slide { background: hotpink;}*/
  .slide .columns { 
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .slide .drawing {
    height: 15em;
    max-height: 200px;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}


