@import url(http://fonts.googleapis.com/css?family=Signika:300,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
  font-family: 'Signika', sans-serif;
}

h1,h2,p{font-weight:300;}

h5{
  margin-bottom:0em;
  margin-top:0em;
}

p{margin-bottom:1em;}

.caveat {
  font-size: 0.75em;
}

i {
  padding-right: 1em;
  color: steelblue;
}

i:hover {
  color: black;
}

.project-images {
  height: auto;
  width:100%;
  display:block;
  margin:auto;
  border-radius: 0.5em;
}

.project-icon {
  height: 10em;
  width:auto;
  display:block;
  margin:auto;
}

.project-title {
  text-align: center;
}

.project {
  text-align: left;
}

.drawing {
  height: 50vh;
  width: auto;
  margin-left: -30%;
}

.contact-icons {
  background-color: steeblue;
}

.columns {
/*  padding-left: 15%;
  padding-right: 10%;*/
  /*border: 2px solid black;*/
}

.align-right {
  text-align: right;
}

a {
  color: steelblue;
}

.container {
  margin-right: auto;
  margin-left: auto;
  /*border: 4px solid black;*/
  padding-left: 6px;
  padding-right: 6px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 700px; } }
  @media (min-width: 992px) {
    .container {
      width: 900px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1152px; } }